* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: centuryGothic ;
}

.form-login {

    width: 400px;
    height: 340px;
    background: rgb(11, 0, 73);
    margin: auto;
    margin-top: 180px ;
    box-shadow: 7px 13px 37px #392525;
    padding: 20px 30px;
    border-top: 4px solid #322626;
    color: white;

}

.form-login h5 {

margin: 0;
text-align: center 0;
height: 40px;
margin-bottom: 30px;
border-bottom: 1px solid;
font-size: 20px;

}

.controls {

    width: 100%;
    border:1px solid #120 ;



}